@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Neonderthaw&display=swap');


.cart-table-head {
    background: #e51e25;
    color: #fafef6;
    font-weight: bold;
}

.cart-page {
    padding: 50px 0;
}
.cart-table-foot {
    background: #e51e25;
    color: #fafef6;
}
.cart-table-foot-btn {
    border: 2px solid #fafef6;
    background: #ff002e;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    transition: all 150ms linear;
}
.cart-table-foot-btn:hover {
    border: 2px solid transparent;
}
.cart-table-foot-btn:active {
    background: rgba(0,0,0, 0.3);
}
.cart-table-foot-title {
  font-weight: bold;
}

.to-payment {
    background: #68d14d;
    border: 1px solid transparent;
    color: #fafef6;
    font-size: 18px;
    padding: 4px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .2s linear;
}

.to-payment:hover {
    background: #fafef6;
    border: 1px solid #82d16d;
    color: #82d16d;
}

.to-payment:active {
    background: rgba(0,0,0,0.7);
}

.to-payment-icon {
    opacity: 0;
    transition: .2s linear;
}

.to-payment-icon:hover {
    opacity: 1;
    padding-left: 10px;
    color: #82d16d;
}