.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}


.modal-title {
    padding: 20px;
    color: #E1332D;
}

.close-btn {
    position: relative;
    top: -105px;
    left: -20px;
    background: none;
    border: none;
    cursor: pointer;
}